.mainTop{
    width: calc(100vw - 130px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    color: var(--txt-color);

    svg{
        fill: var(--txt-color);
        font-size: 30px;
        cursor: pointer;
    }

    .menuToggle{
        svg{
            font-size: 40px;
        }
    }

    .searchField{
        display: flex;
        align-items: center;
        input{
            border: none;
            outline: none;
            background: transparent;
            border-bottom: 1px solid var(--interjud-blue);
            padding: 5px 25px ;
            &::placeholder{
                font-size: 16px;
                color: var(--txt-color);
                opacity: 0.8;
            }
            
        }
        svg:first-of-type{
            opacity: 0.8;
            margin-right: -20px;
            font-size: 20px;
        }
        
        svg{
            font-size: 24px;
        }
    }

    .notificationWrapper{
        svg{
            fill: var(--txt-color);
            color: var(--txt-color);
        }
    }
}