.mainTop{
    min-width: calc(100vw - 80px);
    padding: 0 30px;
    z-index: 999;
    left: 80px;
    background-color: #111111;
    height: 60px;
    right: 0;
    position: absolute;
    display: flex;
    overflow: visible;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    color: var(--txt-color);
    transition: 0.3s;

    &.active {
        min-width: calc(100vw - 300px);
        left: 300px;
    }

    svg{
        fill: var(--txt-color);
        font-size: 30px;
        cursor: pointer;
    }

    .menuToggle{
        svg{
            font-size: 40px;
        }
    }

    .searchField{
        display: flex;
        align-items: center;
        input{
            border: none;
            outline: none;
            background: transparent;
            border-bottom: 1px solid var(--interjud-blue);
            padding: 5px 25px ;
            &::placeholder{
                font-size: 16px;
                color: var(--txt-color);
                opacity: 0.8;
            }
            
        }
        svg:first-of-type{
            opacity: 0.8;
            margin-right: -20px;
            font-size: 20px;
        }
        
        svg{
            font-size: 24px;
        }
    }

    .notificationWrapper{
        position: relative;
        svg{
            fill: var(--txt-color);
            color: var(--txt-color);
        }
        .notificationNumber{
            user-select: none;
            pointer-events: none;
            display: block;
            width: 16px;
            position: absolute;
            top: 0;
            font-size: 11px;
            height: 16px;
            line-height: 16px;
            background-color: var(--interjud-pink);
            text-align: center;
            border-radius: 50%;
            font-weight: bold;
        }
    }
}