main {
  position: absolute;
  min-width: calc(100vw - 80px);
  padding: 10px 30px;
  padding-bottom: 40px;
  box-sizing: border-box;
  left: 80px;
  top: 60px;
  min-height: 100vh;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: auto;
  overflow-x: auto;
  background-color: #111111;

  &.active {
    min-width: calc(100vw - 300px);
    left: 300px;
  }

  h1 {
    font-size: 26px;
    margin-top: 20px;
  }

}
