.welcomeOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
  background-color: black;
  .welcomeContainer {
    width: 520px;
    height: 530px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--interjud-blue);

    > img {
      display: block;
      position: absolute;
      z-index: 1;
    }

    .welcomeSlider {
      width: calc(520px * 4);
      transition: 0.3s;
      height: 100%;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;

      .welcomeSingle {
        background-color: rgba(0, 0, 0, 0.855);
        width: 520px;
        position: relative;
        height: 540px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 40px;
        box-sizing: border-box;
        h2,
        h3 {
          font-size: 40px;
          display: block;
          width: 100%;
          text-align: left;
          position: relative;
          z-index: 12;
        }

        h3 {
          font-size: 20px;
        }

        h4{
          display: block;
          width: 100%;
          text-align: left;
          margin: 0 auto;
        }

        form {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          width: 100%;
          input[type="text"] {
            width: 44%;
            height: 30px;
            &::placeholder {
              font-size: 14px;
            }
          }

        }


      }
      .welcomeSingle.secondSlider {
        form{
          label{
            input{
              display: none;
            }

            input:checked ~ div{
              background-color: var(--interjud-blue);
              &:hover{
                transform: unset;
              }
            }

            > div{
              border: 2px solid var(--interjud-blue);
              padding: 10px;
              font-size: 11px;
              font-weight: bold;
              cursor: pointer;
              transition: 0.3s;
              &:hover{
                transform: translateY(-10%);
              }
            }
          }
        }
      }

      .welcomeSingle.thirdSlider {
        form{
          input{
            width: 100%;
          }
        }
      } 
      .welcomeSingle.forthSlider {
        justify-content: space-between;

        h3{
          width: 100%;
          bottom: -40px;
        }
        form{
          display: flex;
          flex-direction: column;
          width: 100%;
          .address{ 
            height: 100%;
            display: flex;  
            margin-top: 30px;
            flex-direction: column;
            gap: 20px;
            > div{
              gap: 20px;
              display: flex;
              justify-content: space-between;

              input#numero{
                width: 50px;
              }

              select {
                option{
                  background-color: var(--main-bg-color);
                }
              }
            }

            
          }
        }
        button{
          align-self: flex-end;
          cursor: pointer;
          background-color: var(--interjud-blue);
          width: 200px;
          padding: 10px 15px;
          font-weight: 700;

          transition: 0.3s;

          &:hover{
            opacity: 0.8;
          }
        }
      }
    }

    .welcomeArrows {
      width: 100%;
      position: absolute;
      height: 40px;
      display: flex;
      z-index: 3;
      align-items: center;
      justify-content: space-between;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      pointer-events: none;
      .arrow {
        pointer-events: initial;
        position: absolute;
        cursor: pointer;
        &.arrowPrev {
          left: 0;
        }
        &.arrowNext {
          right: 0;
        }

        svg,
        polygon {
          fill: var(--txt-color);
          font-size: 30px;
          display: flex;
          align-items: center;
        }
      }
    }

  }
  .links{
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin: 0 auto;

    > a{
      margin-top: 10px;
      font-size: 14px;
      display: flex;
      transition: 0.3s;
      opacity: 0;
      pointer-events: none;
      margin-top: 5px;
      gap: 5px;

      > svg{
        display: inline-block;
        height: 100%;
      }

      &.active{
        pointer-events: initial;
        opacity: 1;
      }
    }
  }
}
