.OfferOverlay{

    .closeOfferOverlay{
        position: absolute;
        top: -30px;
        right: -30px;
        font-size: 26px;
    }

    article.credit_single{
        width: 320px;
        border-color: var(--interjud-blue);
        .credit_content {
            justify-content: flex-start;
            .rating{
                margin-top: 20px;
            }
            p, .rating{
                margin-bottom: 50px;
            }
            p.name{
                min-height: 40px;
            }

            .offerInput{
                margin-top: -25px;
                display: flex;
                align-items: center;
                span{
                    font-size: 23px;
                }

                svg{
                    display: inline-block;
                    height: 26px;
                    width: 26px;
                    font-size: 26px;
                    stroke: white;
                    transition: 0.3s;

                    &:hover{
                        stroke: var(--interjud-green);
                    }
                }

                input{
                    height: 30px;
                    margin-top: unset;
                    font-weight: bold;
                }
            }
        }
        
    }
    
}