:root{
    --txt-color: #eee;
    --main-bg-color: #131313;
    --second-bg-color: #333333;
    --interjud-blue: #004b9f;
    --interjud-pink: #ce382a;
    --interjud-green: #1F9E08;
    --interjud-yellow: #EBC917;
    --box-shadow: rgba(0,0,0,.2) 0px 5px 10px
}