.newCreditOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none;
  
    &.active .ratingInfoActive {
      .ratingInfo {
        pointer-events: initial !important;
      }
    }
  
    .titleClose {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: 10px;
      h2 {
        text-align: left;
        width: 520px;
        font-size: 25px;
      }
  
      > svg {
        position: absolute;
        right: -40px;
        font-size: 35px;
        cursor: pointer;
      }
    }
  
    .newCreditContainer {
      width: 520px;
      height: 530px;
      overflow: hidden;
      position: relative;
      border: 1px solid var(--interjud-blue);
  
      > img {
        display: block;
        position: absolute;
        z-index: 1;
      }
  
      .newCreditSlider {
        width: calc(520px * 3);
        transition: 0.3s;
        height: 100%;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        .newCreditSingle {
          background-color: rgba(0, 0, 0, 0.855);
          width: 520px;
          position: relative;
          height: 540px;
          text-align: center;
  
          form {
            display: flex;
            height: 90%;
            width: 75%;
            top: 50%;
            transform: translateY(-50%);
            position: relative;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 auto;
  
            &.firstForm {
              margin: unset;
              margin-left: 20px;
  
              .num_processo_container {
                position: relative;
                p {
                  font-size: 13px;
                  position: absolute;
                  top: 50%;
                  transform: translate(-50%);
                  right: -23px;
                  display: flex;
                  align-items: center;
                  svg {
                    position: relative;
                    right: -5px;
                    fill: var(--interjud-green);
  
                    &.error {
                      fill: var(--interjud-red);
                      display: none;
                    }
                  }
  
                  &.error {
                    svg.error {
                      display: inline-block;
                    }
                    svg.success {
                      display: none;
                    }
                  }
                }
              }
            }
  
            .porcentagem_negociar {
              position: relative;
              display: flex;
              height: 40px;
              align-items: center;
              justify-content: space-between;
              p {
                position: absolute;
                transform: translateY(-100%);
                font-size: 18px;
                height: 20px;
              }
  
              * {
                max-height: 100%;
                height: unset;
              }
              span {
                color: white;
                height: unset !important;
                height: 20px;
                line-height: 20px;
              }
              input {
                width: 80%;
              }
            }
  
            .valores {
              position: relative;
              p {
                font-size: 18px;
                text-align: left;
                margin-bottom: 10px;
                position: relative;
                span {
                  display: inline-block;
                  right: 0;
                  font-weight: bold;
                  color: var(--interjud-green);
                  position: absolute;
                }
              }
            }
  
            input:not([type="range"], [type="button"]),
            select {
              width: 100%;
              background-color: transparent;
              border: none;
              outline: none;
              padding: 0 0 0 5px;
              font-size: 18px;
              height: 40px;
              margin-top: 10px;
              color: white;
              border-bottom: 1px solid var(--interjud-blue);
  
              &::placeholder {
                color: var(--txt-color) !important;
              }
  
              option {
                background-color: black;
                padding-left: 0;
                font-size: 15px;
              }
            }
          }
  
          &.ratingForm {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
  
            * {
              transition: 0.3s;
            }
  
            .stars {
              svg {
                font-size: 25px;
                fill: var(--interjud-yellow);
                margin: 0 10px;
              }
            }
  
            h2 {
              font-size: 25px;
              margin-top: -20px;
            }
  
            p {
              font-size: 18px;
              width: 75%;
              line-height: 28px;
              margin: 0 auto;
            }
  
            .vantagens {
              margin-top: -10px;
              > div {
                display: flex;
                align-items: center;
                font-size: 18px;
                margin: 7px 0;
                svg {
                  fill: var(--interjud-green);
                  margin-right: 5px;
                }
              }
            }
  
            .aceitarRating {
              input {
                padding: 5px 10px;
                color: white;
                cursor: pointer;
                margin: 0 10px;
                font-size: 18px;
                transition: 0.3s;
                &:hover {
                  opacity: 0.8;
                }
  
                &.recusar {
                  background-color: var(--interjud-red);
                }
                &.aceitar {
                  background-color: var(--interjud-green);
                }
              }
            }
  
            svg.setInfoRating {
              fill: var(--txt-color);
              font-size: 30px;
              position: absolute;
              right: 10px;
              bottom: 20px;
              cursor: pointer;
            }
  
            .ratingInfo {
              width: 100%;
              opacity: 0;
              pointer-events: none;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              p {
                text-align: justify;
              }
  
              input {
                padding: 5px 10px;
                width: 75%;
                color: white;
                cursor: pointer;
                transition: 0.3s;
                margin: 0 auto;
                font-size: 18px;
                background-color: var(--interjud-green);
  
                transition: 0.3s;
                &:hover {
                  opacity: 0.8;
                }
              }
  
              small {
                width: 75%;
                margin: 0 auto;
                text-align: justify;
                font-size: 12px;
                display: block;
              }
            }
  
            &.ratingInfoActive {
              .ratingInfo {
                opacity: 1;
              }
  
              *:not(.ratingInfo, .ratingInfo *) {
                opacity: 0;
                pointer-events: none;
              }
            }
          }
        }
      }
  
      .newCreditArrows {
        width: 100%;
        position: absolute;
        height: 40px;
        display: flex;
        z-index: 3;
        align-items: center;
        justify-content: space-between;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        pointer-events: none;
        .arrow {
          pointer-events: initial;
          position: absolute;
          cursor: pointer;
          &.arrowPrev {
            left: 0;
          }
          &.arrowNext {
            right: 0;
          }
  
          svg,
          polygon {
            fill: var(--txt-color);
            font-size: 30px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }