* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: montserrat;
  scroll-behavior: smooth;
  resize: none;
  color: var(--txt-color);
}

html,
body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

@import "components/variables";
@import "components/lineTitle";
@import "components/button";
@import "components/fonts";
@import "components/credit";
@import "components/navbar";
@import "components/accordion";
@import "components/footer";
@import "components/offerOverlay";
@import "components/overlay";
@import "components/systemNotification";
@import "components/pagination";

@import "components/home/hero";
@import "components/home/portalCreditos";
@import "components/home/comoFunciona";
@import "components/home/vantagens";
@import "components/home/depoimentos";
@import "components/home/duvidas";
@import "components/home/contato";

@import "components/painel/sidemenu";
@import "components/painel/main";
@import "components/painel/mainTop";
@import "components/painel/home/homeMain";
@import "components/painel/myCredits/myCreditsMain";
@import "components/painel/notifications";
@import "components/painel/searchMain";
@import "components/painel/filterOverlay";

@import "components/login/login";

.container {
  height: auto;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  .swiper {
    padding: 30px;

    .swiper-pagination {
      bottom: 0px;

      .swiper-pagination-bullet {
        background-color: var(--txt-color);
      }

      .swiper-pagination-bullet-active {
        background-color: var(--interjud-blue);
      }
    }
  }
}

.main {
  .swiper {
    padding: 30px;

    .swiper-slide {
      width: 100% !important;
      display: flex !important;
      justify-content: space-between;
    }

    .swiper-pagination {
      bottom: 0px;

      .swiper-pagination-bullet {
        background-color: var(--txt-color);
      }

      .swiper-pagination-bullet-active {
        background-color: var(--interjud-blue);
      }
    }
  }
}

input[type="number"] {
  &::-webkit-inner-spin-button,
  .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
  }
}

section {
  padding: 40px 0;
}

section:nth-of-type(odd) {
  background-color: var(--second-bg-color);
}

section:nth-of-type(even) {
  background-color: var(--main-bg-color);
}

.rec-carousel button {
  background-color: var(--interjud-blue) !important;
  color: var(--txt-color) !important;

  &[disabled] {
    opacity: 0.3;
  }
}

.rec-pagination {
  button {
    border: unset !important;
    box-shadow: unset !important;
    background-color: var(--txt-color);

    &.rec-dot_active {
      background-color: var(--interjud-blue);
    }
  }
}

.newCreditOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .titleClose {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    h2 {
      text-align: left;
      width: 420px;
      font-size: 22px;
    }

    > svg {
      position: absolute;
      right: -40px;
      font-size: 26px;
      cursor: pointer;
    }
  }

  .newCreditContainer {
    width: 420px;
    height: 430px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--interjud-blue);

    > img {
      display: block;
      position: absolute;
      z-index: 1;
    }

    .newCreditSlider {
      width: calc(420px * 3);
      transition: 0.3s;
      height: 100%;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      .newCreditSingle {
        background-color: rgba(0, 0, 0, 0.855);
        width: 420px;
        position: relative;
        height: 440px;
        text-align: center;

        form {
          display: flex;
          height: 90%;
          width: 75%;
          top: 50%;
          transform: translateY(-50%);
          position: relative;
          flex-direction: column;
          justify-content: space-around;
          margin: 0 auto;

          &.firstForm {
            margin: unset;
            margin-left: 20px;

            .num_processo_container{
              position: relative;
              p{
                font-size: 13px;
                position: absolute;
                top: 50%;
                transform: translate(-50%);
                right: -23px;
                display: flex;
                align-items: center;
                svg{
                  position: relative;
                  right: -5px;
                  fill: var(--interjud-green);
                  
                  &.error{
                    fill: var(--interjud-red);
                    display: none;
                  }
                }
                
                &.error{
                  svg.error{
                    display: inline-block;
                  }
                  svg.success{
                    display: none;
                  }
                }
              }
            }
          }

          .porcentagem_negociar {
            position: relative;
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: space-between;
            p {
              position: absolute;
              transform: translateY(-100%);
              font-size: 14px;
              height: 20px;
            }

            * {
              max-height: 100%;
              height: unset;
            }
            span {
              color: white;
              height: unset !important;
              height: 20px;
              line-height: 20px;
            }
            input {
              width: 80%;
            }
          }

          .valores {
            position: relative;
            p {
              font-size: 14px;
              text-align: left;
              margin-bottom: 10px;
              position: relative;
              span {
                display: inline-block;
                right: 0;
                position: absolute;
              }
            }
          }

          input:not([type="range"], [type="button"]),
          select {
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 0 0 0 5px;
            font-size: 15px;
            height: 40px;
            margin-top: 10px;
            color: white;
            border-bottom: 1px solid var(--interjud-blue);

            &::placeholder {
              color: var(--txt-color) !important;
            }

            option {
              background-color: black;
              padding-left: 0;
              font-size: 15px;
            }
          }
        }

        &.ratingForm {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;

          * {
            transition: 0.3s;
          }

          .stars {
            svg {
              font-size: 20px;
              fill: var(--interjud-yellow);
              margin: 0 4px;
            }
          }

          h2 {
            font-size: 20px;
          }

          p {
            font-size: 15px;
            width: 85%;
            margin: 0 auto;
          }

          .vantagens {
            margin-top: -10px;
            > div {
              display: flex;
              align-items: center;
              font-size: 15px;
              svg {
                fill: var(--interjud-green);
                margin-right: 5px;
              }
            }
          }

          .aceitarRating {
            input {
              padding: 5px 10px;
              color: white;
              cursor: pointer;
              transition: 0.3s;
              margin: 0 10px;
              &:hover {
                opacity: 0.8;
              }

              &.recusar {
                background-color: var(--interjud-red);
              }
              &.aceitar {
                background-color: var(--interjud-green);
              }
            }
          }

          svg.setInfoRating{
            fill: var(--txt-color);
            font-size: 24px;
            position: absolute;
            right: 10px;
            bottom: 20px;
            cursor: pointer;
          }

          .ratingInfo {
            width: 100%;
            opacity: 0;
            pointer-events: none;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            p {
              text-align: justify;
            }

            small {
              width: 85%;
              margin: 0 auto;
              text-align: justify;
              font-size: 11px;
              display: block;
            }
          }

          &.ratingInfoActive {
            .ratingInfo {
              pointer-events: initial;
              opacity: 1;
            }

            *:not(.ratingInfo, .ratingInfo *) {
              opacity: 0;
              pointer-events: none;
            }
          }
        }
      }
    }

    .newCreditArrows {
      width: 100%;
      position: absolute;
      height: 40px;
      display: flex;
      z-index: 3;
      align-items: center;
      justify-content: space-between;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      pointer-events: none;
      .arrow {
        pointer-events: initial;
        position: absolute;
        cursor: pointer;
        &.arrowPrev {
          left: 0;
        }
        &.arrowNext {
          right: 0;
        }

        svg,
        polygon {
          fill: var(--txt-color);
          font-size: 30px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
