* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: montserrat;
    scroll-behavior: smooth;
    resize: none;
    color: var(--txt-color)
}

html, body{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden ;
    overflow-y: auto
}

@import 'components/variables';
@import 'components/lineTitle';
@import 'components/button';
@import 'components/fonts';
@import 'components/credit'; 
@import 'components/navbar'; 
@import 'components/accordion'; 
@import 'components/footer';  
@import 'components/OfferOverlay';   

@import 'components/home/hero';
@import 'components/home/portalCreditos';
@import 'components/home/comoFunciona';
@import 'components/home/vantagens';
@import 'components/home/depoimentos';  
@import 'components/home/duvidas';  
@import 'components/home/contato'; 

@import 'components/painel/sidemenu'; 
@import 'components/painel/main'; 
@import 'components/painel/mainTop'; 
@import 'components/painel/notifications'; 
@import 'components/painel/searchMain'; 

@import 'components/login/login';  

.container {
    height: auto;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    .swiper {
        padding: 30px;


        .swiper-pagination{
            bottom: 0px;

            .swiper-pagination-bullet{
                background-color: var(--txt-color);
            }

            .swiper-pagination-bullet-active{
                background-color: var(--interjud-blue);
            }
        }
    }
} 

.main{
    .swiper {
        padding: 30px;
    
        .swiper-slide{
            width: 100% !important;
            display: flex !important;
            justify-content: space-between;
        }
    
        .swiper-pagination{
            bottom: 0px;
    
            .swiper-pagination-bullet{
                background-color: var(--txt-color);
            }
    
            .swiper-pagination-bullet-active{
                background-color: var(--interjud-blue);
            }
        }
    }
}

section{
    padding: 40px 0;
}

section:nth-of-type(odd) {
    background-color: var(--second-bg-color)
}

section:nth-of-type(even) {
    background-color: var(--main-bg-color)
}


.rec-carousel button{
    background-color: var(--interjud-blue) !important;
    color: var(--txt-color) !important;

    &[disabled]{
        opacity: 0.3;
    }
}

.rec-pagination{
    button{
        border: unset !important;
        box-shadow: unset !important;
        background-color: var(--txt-color);

        &.rec-dot_active{
            background-color: var(--interjud-blue);
        }
    }
}

.SystemNotification{
    position: fixed;
    width: auto;
    padding-left: 5px;
    border-left: 3px solid white;
    height: auto;
    min-height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: var(--interjud-green);
    z-index: 909;
    display: flex;
    align-items: center;
    span{
        text-align: left;
        font-weight: bold;
        margin-right: 30px;

        &:first-of-type{
            display: block;
            width: 70%;
        }
    }

    .closeNoti{
        font-weight: normal;
        font-size: 40px;
        margin-right: 0;
        position: absolute;
        right: 5px;
        cursor: pointer;
        transform: rotate(45deg);
    }
}
