* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: montserrat;
  scroll-behavior: smooth;
  resize: none;
  color: var(--txt-color);
}

html,
body {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  --txt-color: #eee;
  --main-bg-color: #131313;
  --second-bg-color: #333333;
  --interjud-blue: #004b9f;
  --interjud-red: #ce382a;
  --interjud-green: #1F9E08;
  --interjud-yellow: #EBC917;
  --box-shadow: rgba(0,0,0,.2) 0px 5px 10px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.line-title {
  position: relative;
  color: white;
  height: 35px;
  position: relative;
  z-index: 4;
  width: 320px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 70px;
  transition: 0.3s;
}
.line-title h2 {
  font-size: 25px;
  text-transform: uppercase;
  max-width: 200px;
}
.line-title h2::before {
  content: "";
  height: 120px;
  width: 120px;
  position: absolute;
  top: -75px;
  left: -70px;
  border: 3px solid var(--interjud-blue);
  z-index: -1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: var(--interjud-blue);
  width: auto;
  height: auto;
  padding: 12px 15px;
}
.button a {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
}
.button a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  transition: 0.3s;
  height: 1px;
  background-color: var(--txt-color);
}
.button:hover a::before {
  width: 100%;
}

/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.credit_single {
  position: relative;
  width: 250px;
  border: 1px solid var(--interjud-blue);
  cursor: pointer;
}
.credit_single img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.credit_single .credit_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.credit_single .credit_content .rating {
  display: flex;
  width: 90%;
  min-height: 30px;
  margin: 0 auto;
  justify-content: center;
}
.credit_single .credit_content .rating svg {
  fill: var(--interjud-yellow) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 28px;
  width: 20%;
  display: inline-block;
}
.credit_single .credit_content::before {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  opacity: 0.85;
}
.credit_single .credit_content * {
  position: relative;
  z-index: 2;
}
.credit_single .credit_content p {
  text-align: center;
  width: 90%;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateY(-20%);
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  border-bottom: 2px solid var(--main-color);
  max-width: 300px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.credit_single .credit_content p.name {
  min-height: 60px;
}
.credit_single .credit_content .value {
  transform: translateY(-90%);
  color: var(--interjud-green);
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.credit_single .credit_content .button {
  transform: translateY(-90%);
}
.credit_single .credit_content .button a {
  font-size: 14px;
}
.credit_single .credit_content svg.infoBtn {
  fill: var(--txt-color);
  font-size: 24px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.credit_single .wishlist_icon {
  fill: transparent;
  stroke: var(--interjud-red);
  stroke-width: 20;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 12;
  transition: 0.3s;
}
.credit_single .wishlist_icon:active {
  transform: scale(0.85);
}
.credit_single .wishlist_icon *,
.credit_single .wishlist_icon *::before,
.credit_single .wishlist_icon *::after {
  box-sizing: border-box;
}
.credit_single .wishlist_icon svg {
  overflow: visible;
  width: 1.5rem;
}
.credit_single .wishlist_icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.credit_single .wishlist_icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.credit_single .wishlist_icon.active .heart-main path {
  -webkit-animation: stroke-animation 2s ease-in-out forwards;
  animation: stroke-animation 2s ease-in-out forwards;
}
.credit_single .wishlist_icon.active .heart-background path {
  -webkit-animation: fade-animation 2s ease-in-out forwards;
  animation: fade-animation 2s ease-in-out forwards;
}
@-webkit-keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--interjud-red);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: var(--interjud-red);
  }
}
@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--interjud-red);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: var(--interjud-red);
  }
}
@-webkit-keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--interjud-red);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--interjud-red);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.credit_single .info {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: var(--main-bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
}
.credit_single .info svg {
  fill: var(--txt-color);
  font-size: 24px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
}
.credit_single .info p {
  color: var(--txt-color);
  position: relative;
  z-index: 2;
  margin: 15px 10px;
}
.credit_single .info p.name {
  text-align: center;
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 15px;
}
.credit_single .info::before {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  opacity: 0.85;
}
.credit_single .info.active {
  opacity: 1;
  pointer-events: initial;
}

header {
  background-color: var(--main-bg-color);
  display: flex;
  height: 95px;
  align-items: center;
  position: relative;
  z-index: 10;
}
header .container {
  max-height: 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}
header .container .logo a {
  height: auto;
  display: flex;
  align-items: center;
}
header .container .menu-desktop ul {
  display: flex;
  text-align: right;
  gap: 30px;
}
header .container .menu-desktop ul li {
  text-align: right;
  white-space: nowrap;
  position: relative;
}
header .container .menu-desktop ul li a {
  text-decoration: none;
  font-size: 13px;
  transition: 0.3s;
  color: white;
  position: relative;
  cursor: pointer;
}
header .container .menu-desktop ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  transition: 0.3s;
  height: 2px;
  background-color: var(--interjud-blue);
}
header .container .menu-desktop ul li a:hover::before {
  width: 100%;
}
header .container .menu-desktop ul li ul.submenu-desktop {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
  background-color: var(--second-bg-color);
  border: 2px solid var(--interjud-blue);
  padding: 15px;
}
header .container .menu-desktop ul li ul.submenu-desktop li a {
  text-align: left;
  display: block;
  font-size: 12px;
  width: 100%;
}
header .container .menu-desktop ul li ul.submenu-desktop.active {
  opacity: 1;
  pointer-events: initial;
}

.accordion-wrapper {
  height: auto;
  width: 50%;
  padding: 20px 2% 0 2%;
  color: white;
}
.accordion-wrapper .accordionSingle {
  background-color: var();
  overflow: hidden;
}
.accordion-wrapper .accordionSingle .accordionHead {
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--interjud-blue);
  background-color: inherit;
  height: 40px;
}
.accordion-wrapper .accordionSingle .accordionHead span:last-of-type {
  cursor: pointer;
  font-size: 30px;
}
.accordion-wrapper .accordionSingle .accordionContent {
  position: relative;
  z-index: 1;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  height: 0;
  transform: translateY(-200%);
}
.accordion-wrapper .accordionSingle .accordionContent p {
  padding: 15px;
}
.accordion-wrapper .accordionSingle[active] .accordionContent {
  height: auto;
  margin-top: 0;
  opacity: 1;
  pointer-events: initial;
  transform: translateY(0%);
}

footer {
  background-color: var(--main-bg-color);
  display: flex;
  height: 95px;
  align-items: center;
  position: relative;
  z-index: 10;
}
footer .container {
  max-height: 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}
footer .container .logo a {
  height: auto;
  display: flex;
  align-items: center;
}
footer .container .menu-desktop ul {
  display: flex;
  text-align: right;
  gap: 30px;
}
footer .container .menu-desktop ul li {
  text-align: right;
  white-space: nowrap;
  position: relative;
}
footer .container .menu-desktop ul li a {
  text-decoration: none;
  font-size: 13px;
  transition: 0.3s;
  color: white;
  position: relative;
  cursor: pointer;
}
footer .container .menu-desktop ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  transition: 0.3s;
  height: 2px;
  background-color: var(--interjud-blue);
}
footer .container .menu-desktop ul li a:hover::before {
  width: 100%;
}

.OfferOverlay {
  position: fixed;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.721);
  display: flex;
  place-items: center;
  justify-content: center;
  opacity: 0;
  top: 0;
  pointer-events: none;
}
.OfferOverlay.active {
  opacity: 1;
  pointer-events: initial;
}
.OfferOverlay .closeOfferOverlay {
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 26px;
}
.OfferOverlay article.credit_single {
  width: 320px;
  border-color: var(--interjud-blue);
}
.OfferOverlay article.credit_single .credit_content {
  justify-content: flex-start;
}
.OfferOverlay article.credit_single .credit_content .rating {
  margin-top: 20px;
}
.OfferOverlay article.credit_single .credit_content p, .OfferOverlay article.credit_single .credit_content .rating {
  margin-bottom: 50px;
}
.OfferOverlay article.credit_single .credit_content p.name {
  min-height: 40px;
}
.OfferOverlay article.credit_single .credit_content .offerInput {
  margin-top: -25px;
  display: flex;
  align-items: center;
}
.OfferOverlay article.credit_single .credit_content .offerInput span {
  font-size: 23px;
}
.OfferOverlay article.credit_single .credit_content .offerInput input {
  background-color: transparent;
  outline: none;
  margin: 0 10px;
  font-size: 20px;
  max-width: 120px;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid var(--interjud-blue);
}
.OfferOverlay article.credit_single .credit_content .offerInput svg {
  display: inline-block;
  height: 26px;
  width: 26px;
  font-size: 26px;
  stroke: white;
  transition: 0.3s;
}
.OfferOverlay article.credit_single .credit_content .offerInput svg:hover {
  stroke: var(--interjud-green);
}

.SystemNotification {
  position: fixed;
  width: auto;
  padding-left: 5px;
  border-left: 3px solid white;
  height: auto;
  min-height: 50px;
  bottom: -20px;
  right: 20px;
  z-index: 99999999;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.8s;
}
.SystemNotification.active {
  bottom: 20px;
  opacity: 1;
}
.SystemNotification.active.success {
  background-color: var(--interjud-green);
}
.SystemNotification.active.warning {
  background-color: var(--interjud-yellow);
}
.SystemNotification.active.warning * {
  color: white !important;
}
.SystemNotification.active.error {
  background-color: var(--interjud-red);
}
.SystemNotification span {
  text-align: left;
  font-weight: bold;
  margin-right: 30px;
}
.SystemNotification span:first-of-type {
  display: block;
  width: 70%;
}
.SystemNotification .closeNoti {
  font-weight: normal;
  font-size: 40px;
  margin-right: 0;
  position: absolute;
  right: 5px;
  cursor: pointer;
  transform: rotate(45deg);
}

section.hero {
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}
section.hero .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
section.hero .container {
  display: flex;
  align-items: center;
  height: 100%;
}
section.hero .container .hero-center {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 9;
}
section.hero .container .hero-center .hero-text {
  width: 100%;
  display: flex;
  height: 122px;
  align-items: center;
  flex-basis: auto;
}
section.hero .container .hero-center .hero-text h1 {
  height: 122px;
  max-width: 580px;
  width: 90%;
  font-size: 50px;
  color: #eee;
}
section.hero .container .hero-center .hero-btn {
  width: auto;
  height: 143px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  cursor: pointer;
}
section.hero .container .hero-center .hero-btn div {
  box-sizing: content-box;
  background-color: var(--interjud-blue);
}
section.hero .container .hero-center .hero-btn div a {
  position: relative;
  transition: 0.3s;
  font-weight: bold;
}
section.hero .container .hero-center .hero-btn div a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  transition: 0.3s;
  height: 1px;
  background-color: var(--txt-color);
}
section.hero .container .hero-center .hero-btn div:hover a::before {
  width: 100%;
}

section.portalCreditos {
  padding: 60px 0;
}
section.portalCreditos .container {
  max-width: 1200px;
}
section.portalCreditos .container .creditsList {
  display: flex;
  justify-content: space-between;
}
section.portalCreditos .container .Tilt {
  max-width: 250px;
  margin: 0 auto;
}

section.comoFunciona .container .wrapper-funciona {
  margin: 50px 0 20px 0;
  display: flex;
}
section.comoFunciona .container .wrapper-funciona .video-wraper.box {
  width: 50%;
  position: relative;
}
section.comoFunciona .container .wrapper-funciona .video-wraper.box .overlay_video {
  color: white;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  filter: grayscale(0);
  top: 0;
  left: 0;
  background-color: rgba(148, 148, 148, 0);
  position: absolute;
}
section.comoFunciona .container .wrapper-funciona .video-wraper.box .overlay_video h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  filter: grayscale(0);
  font-size: 25px;
  color: black;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}
section.comoFunciona .container .mosaico-title {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 70px;
}
section.comoFunciona .container .mosaico-title h2 {
  font-size: 25px;
  color: white;
}
section.comoFunciona .container .button {
  max-width: 250px;
  margin: 50px auto;
}

section.vantagens .container .wrapper-vantagens {
  max-width: 720px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "a b" "c d";
  gap: 20px;
  position: relative;
  margin-top: 120px;
}
section.vantagens .container .wrapper-vantagens .Tilt {
  width: 100%;
  max-width: 360px;
}
section.vantagens .container .wrapper-vantagens .Tilt:nth-of-type(1) > div.single-vantagens {
  background-image: url(../public/assets/images/vantagens/pexels1.webp);
}
section.vantagens .container .wrapper-vantagens .Tilt:nth-of-type(2) > div.single-vantagens {
  background-image: url(../public/assets/images/vantagens/pexels2.webp);
}
section.vantagens .container .wrapper-vantagens .Tilt:nth-of-type(3) > div.single-vantagens {
  background-image: url(../public/assets/images/vantagens/pexels3.webp);
}
section.vantagens .container .wrapper-vantagens .Tilt:nth-of-type(4) > div.single-vantagens {
  background-image: url(../public/assets/images/vantagens/pexels4.webp);
}
section.vantagens .container .wrapper-vantagens .single-vantagens {
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 320px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.vantagens .container .wrapper-vantagens .single-vantagens * {
  position: relative;
  z-index: 2;
  color: var(--txt-color);
}
section.vantagens .container .wrapper-vantagens .single-vantagens::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.863);
  outline: 2px solid #004b9f;
}
section.vantagens .container .wrapper-vantagens .single-vantagens .vantagens-img svg {
  fill: var(--txt-color);
  font-size: 65px;
}
section.vantagens .container .wrapper-vantagens .single-vantagens .vantagens-number {
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  line-height: 50px;
  font-size: 35px;
  position: absolute;
  background: #004b9f;
}
section.vantagens .container .wrapper-vantagens .single-vantagens .vantagens-txt {
  text-align: center;
  margin-top: 20px;
  position: relative;
  width: 90%;
  margin: 0 auto;
}
section.vantagens .container .wrapper-vantagens .single-vantagens .vantagens-txt h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
section.vantagens .container .wrapper-vantagens .single-vantagens .vantagens-txt p {
  margin-top: 10px;
  font-size: 15px;
}

section.depoimentos .container .depoimentos-wrapper {
  display: flex;
}
section.depoimentos .container .depoimentos-wrapper .single-depoimentos {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
section.depoimentos .container .depoimentos-wrapper .single-depoimentos .quote-depoimento {
  width: 250px;
  min-height: 200px;
  border: 1px dashed var(--txt-color);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
section.depoimentos .container .depoimentos-wrapper .single-depoimentos .quote-depoimento svg {
  align-self: flex-start;
  font-size: 20px;
  fill: var(--interjud-blue);
}
section.depoimentos .container .depoimentos-wrapper .single-depoimentos .quote-depoimento svg:last-of-type {
  align-self: flex-end;
}
section.depoimentos .container .depoimentos-wrapper .single-depoimentos .quote-depoimento p {
  width: 90%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
section.depoimentos .container .depoimentos-wrapper .single-depoimentos .quote-depoimento:hover {
  border: 1px solid var(--interjud-blue);
}
section.depoimentos .container .depoimentos-wrapper .single-depoimentos .author-depoimento {
  width: 250px;
  padding: 0 10px;
  transform: translateY(-40%);
  text-align: center;
}
section.depoimentos .container .depoimentos-wrapper .single-depoimentos .author-depoimento img {
  border-radius: 50%;
  border: 2px solid var(--txt-color);
}

section.duvidas .container .accordion-wrapper {
  margin: 0 auto;
  width: 75%;
}

section.contato .container {
  display: flex;
}
section.contato .container .contato-side {
  width: 50%;
  height: 500px;
}
section.contato .container .contato-left .socialMedia {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  transform: translateY(-50%);
}
section.contato .container .contato-left .socialMedia svg {
  font-size: 65px;
}
section.contato .container .contato-right form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
section.contato .container .contato-right form * {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 5px;
  font-size: 15px;
}
section.contato .container .contato-right form *::-moz-placeholder {
  color: var(--txt-color);
}
section.contato .container .contato-right form *:-ms-input-placeholder {
  color: var(--txt-color);
}
section.contato .container .contato-right form *::placeholder {
  color: var(--txt-color);
}
section.contato .container .contato-right form input, section.contato .container .contato-right form select {
  height: 40px;
  margin-top: 10px;
  border-bottom: 1px solid var(--interjud-blue);
}
section.contato .container .contato-right form textarea {
  border-bottom: 1px solid var(--interjud-blue);
  height: 80px;
  padding-top: 20px;
}
section.contato .container .contato-right form select, section.contato .container .contato-right form option {
  padding-left: 0;
  font-size: 15px;
  color: var(--txt-color);
}
section.contato .container .contato-right form option {
  background-color: var(--second-bg-color);
}
section.contato .container .contato-right form button {
  align-self: flex-start;
  background-color: var(--interjud-blue);
  width: 200px;
  margin-top: 30px;
  padding: 10px 15px;
  font-weight: bold;
}

aside.sideMenu {
  position: fixed;
  z-index: 3;
  width: 80px;
  height: 100vh;
  transition: all 0.3s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
  border-left: 6px solid var(--main-bg-color);
  border-right: 2px solid var(--interjud-blue);
  box-sizing: border-box;
}
aside.sideMenu::-webkit-scrollbar {
  width: 3px;
  z-index: 99;
  position: relative;
}
aside.sideMenu::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}
aside.sideMenu::-webkit-scrollbar-thumb {
  background: var(--interjud-blue);
  border-radius: 10px;
}
aside.sideMenu::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg-color);
}
aside.sideMenu.active {
  width: 300px;
}
aside.sideMenu ul {
  top: 0px;
  left: 0px;
  width: 100%;
}
aside.sideMenu ul li {
  height: 60px;
  padding-left: 2px;
  transition: 0.3s;
}
aside.sideMenu ul li:first-of-type {
  min-width: 260px;
  padding-top: 10px;
  height: 100px;
  margin-bottom: 40px;
}
aside.sideMenu ul li:first-of-type a span {
  font-size: 24px;
}
aside.sideMenu ul li:first-of-type a span img {
  border-radius: 50%;
  border: 2px solid var(--interjud-blue);
}
aside.sideMenu ul li a {
  position: relative;
  width: 100%;
  display: flex;
  color: var(--txt-color);
  position: relative;
  width: 100%;
  list-style: none;
}
aside.sideMenu ul li a span {
  position: relative;
  display: flex;
  min-width: 60px;
  height: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 60px;
}
aside.sideMenu ul li a span.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
aside.sideMenu ul li a span.icon svg {
  font-size: 30px;
}
aside.sideMenu ul li a span.icon_text {
  display: block;
  padding: 0 20px;
  text-align: start;
  white-space: nowrap;
}
aside.sideMenu ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  margin-left: 10px;
  transition: 0.3s;
  height: 2px;
  background-color: var(--interjud-blue);
}
aside.sideMenu ul li:hover:not(:first-of-type) {
  margin-left: -5px;
}
aside.sideMenu ul li:hover:not(:first-of-type) a::before {
  width: 80%;
}

main {
  position: absolute;
  min-width: calc(100vw - 80px);
  padding: 10px 30px;
  padding-bottom: 40px;
  box-sizing: border-box;
  left: 80px;
  top: 60px;
  min-height: 100vh;
  transition: 0.3s;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  background-color: #111111;
}
main.active {
  min-width: calc(100vw - 300px);
  left: 300px;
}
main h1 {
  font-size: 26px;
  margin-top: 20px;
}

.mainTop {
  min-width: calc(100vw - 80px);
  padding: 0 30px;
  z-index: 999;
  left: 80px;
  background-color: #111111;
  height: 60px;
  right: 0;
  position: absolute;
  display: flex;
  overflow: visible;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  color: var(--txt-color);
  transition: 0.3s;
}
.mainTop.active {
  min-width: calc(100vw - 300px);
  left: 300px;
}
.mainTop svg {
  fill: var(--txt-color);
  font-size: 30px;
  cursor: pointer;
}
.mainTop .menuToggle svg {
  font-size: 40px;
}
.mainTop .searchField {
  display: flex;
  align-items: center;
  position: relative;
}
.mainTop .searchField input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--interjud-blue);
  padding: 5px 25px;
}
.mainTop .searchField input::-moz-placeholder {
  font-size: 16px;
  color: var(--txt-color);
  opacity: 0.8;
}
.mainTop .searchField input:-ms-input-placeholder {
  font-size: 16px;
  color: var(--txt-color);
  opacity: 0.8;
}
.mainTop .searchField input::placeholder {
  font-size: 16px;
  color: var(--txt-color);
  opacity: 0.8;
}
.mainTop .searchField svg:first-of-type {
  opacity: 0.8;
  margin-right: -20px;
  font-size: 20px;
}
.mainTop .searchField svg {
  font-size: 24px;
}
.mainTop .notificationWrapper {
  position: relative;
}
.mainTop .notificationWrapper svg {
  fill: var(--txt-color);
  color: var(--txt-color);
}
.mainTop .notificationWrapper .notificationNumber {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  display: block;
  width: 16px;
  position: absolute;
  top: 0;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  background-color: var(--interjud-red);
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.creditsWrapper {
  max-height: 360px;
}
.creditsWrapper .creditsSlider {
  margin-top: 40px;
  margin-bottom: 60px;
  overflow-x: hidden;
  position: relative;
}
.creditsWrapper .creditsSlider .creditsSliderController {
  position: absolute;
  height: 332px;
  width: calc(100vw - 130px);
  z-index: 100;
  bottom: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.creditsWrapper .creditsSlider .creditsSliderController > div {
  pointer-events: none;
  height: 100%;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  place-items: center;
  justify-content: center;
  pointer-events: initial;
  position: absolute;
}
.creditsWrapper .creditsSlider .creditsSliderController > div::before {
  content: "";
  height: 25px;
  width: 25px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  transform: rotate(-45deg);
}
.creditsWrapper .creditsSlider .creditsSliderController > div.sliderControllerNext {
  transform: scaleX(-1);
  right: 0px !important;
}
.creditsWrapper .creditsSlider h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.creditsWrapper .creditsSlider > .creditsSliderSingle {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  transition: 0.3s;
}
.creditsWrapper .creditsSlider > .creditsSliderSingle .Tilt {
  position: relative;
}

.notifications {
  width: 270px;
  height: 300px;
  padding: 5px;
  overflow-y: auto;
  position: absolute;
  top: 30px;
  transform: scale(0);
  right: 30px;
  border: 2px solid var(--interjud-blue);
  background-color: var(--second-bg-color);
  transform-origin: top right;
  transition: transform 0.5s;
}
.notifications.active {
  transform: scale(1);
}
.notifications::-webkit-scrollbar {
  width: 3px;
  z-index: 99;
  position: relative;
}
.notifications::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}
.notifications::-webkit-scrollbar-thumb {
  background: var(--interjud-blue);
  border-radius: 10px;
}
.notifications::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg-color);
}
.notifications ul {
  width: 100%;
  height: auto;
}
.notifications ul a.allNotifications {
  font-size: 13px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  width: 70%;
  display: block;
  border-bottom: 1px solid var(--interjud-blue);
}
.notifications ul li {
  width: 100%;
  height: auto;
  padding: 5px;
  margin-bottom: 5px;
  padding-left: 0px;
  border-bottom: 1px solid var(--interjud-blue);
  opacity: 0.5;
  transition: 0.3s;
}
.notifications ul li:hover {
  margin-left: -5px;
}
.notifications ul li.not_read {
  opacity: 1;
}
.notifications ul li a {
  display: flex;
  align-items: center;
}
.notifications ul li a > img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid var(--interjud-blue);
}
.notifications ul li a > div {
  margin-left: 5px;
}
.notifications ul li a > div span {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  border-bottom: 2px solid var(--main-color);
  max-width: 300px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

main.searchMain .searchMainClose {
  position: absolute;
  display: flex;
  align-self: flex-end;
  right: 60px;
  font-size: 35px;
  cursor: pointer;
}
main.searchMain .creditsWrapper {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
main.searchMain .creditsWrapper > .Tilt {
  margin: 0 auto;
}

.filterOverlay {
  position: fixed;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.721);
  display: flex;
  place-items: center;
  justify-content: center;
  opacity: 0;
  top: 0;
  pointer-events: none;
}
.filterOverlay .filterOverlayClose {
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  font-size: 26px !important;
}
.filterOverlay.active {
  opacity: 1;
  pointer-events: initial;
}
.filterOverlay .searchFilter {
  height: 400px;
  position: absolute;
  width: 500px;
  right: 50%;
  padding: 20px;
  transform: translateX(50%);
  background-color: var(--main-bg-color);
  border: 1px solid var(--interjud-blue);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  transition: 0.3s;
}
.filterOverlay .searchFilter * {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 5px;
  font-size: 15px;
}
.filterOverlay .searchFilter select {
  padding-left: 0;
  font-size: 15px;
  color: var(--txt-color);
  height: 40px;
  margin-top: 10px;
  border-bottom: 1px solid var(--interjud-blue);
}
.filterOverlay .searchFilter select option {
  padding-left: 0;
  font-size: 15px;
  border-radius: 0;
  color: var(--txt-color);
  background-color: var(--second-bg-color);
}
.filterOverlay .searchFilter .valueMinMax > div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.filterOverlay .searchFilter .valueMinMax > div input[type=number] {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--interjud-blue);
  padding: 5px 25px;
}
.filterOverlay .searchFilter .filterRatingContainer .inputRating .stars {
  min-height: 22.8px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.filterOverlay .searchFilter .filterRatingContainer .inputRating .stars svg {
  display: inline-block;
  width: 20%;
  fill: var(--interjud-yellow);
}
.filterOverlay .searchFilter .searchClear {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.filterOverlay .searchFilter .searchClear input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  background-color: var(--interjud-blue);
  width: auto;
  height: auto;
  padding: 7px 15px;
}
.filterOverlay .searchFilter .searchClear input:last-of-type {
  margin-left: 10px;
}

form.formLogin, form.formSignup {
  width: 300px;
  height: 450px;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}
form.formLogin input, form.formSignup input {
  background-color: transparent;
  color: var(--txt-color);
}

.container {
  height: auto;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.container .swiper {
  padding: 30px;
}
.container .swiper .swiper-pagination {
  bottom: 0px;
}
.container .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--txt-color);
}
.container .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--interjud-blue);
}

.main .swiper {
  padding: 30px;
}
.main .swiper .swiper-slide {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between;
}
.main .swiper .swiper-pagination {
  bottom: 0px;
}
.main .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--txt-color);
}
.main .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--interjud-blue);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number] .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

section {
  padding: 40px 0;
}

section:nth-of-type(odd) {
  background-color: var(--second-bg-color);
}

section:nth-of-type(even) {
  background-color: var(--main-bg-color);
}

.rec-carousel button {
  background-color: var(--interjud-blue) !important;
  color: var(--txt-color) !important;
}
.rec-carousel button[disabled] {
  opacity: 0.3;
}

.rec-pagination button {
  border: unset !important;
  box-shadow: unset !important;
  background-color: var(--txt-color);
}
.rec-pagination button.rec-dot_active {
  background-color: var(--interjud-blue);
}

.myCreditsMain {
  margin-top: 40px;
}
.myCreditsMain .myCreditsContainer {
  max-width: 80vw;
  width: 100%;
  border: 1px solid var(--interjud-blue);
  overflow: scroll;
  display: flex;
  align-items: center;
}
.myCreditsMain .myCreditsContainer::-webkit-scrollbar {
  width: 1px;
  z-index: 99;
  position: relative;
}
.myCreditsMain .myCreditsContainer::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}
.myCreditsMain .myCreditsContainer::-webkit-scrollbar-thumb {
  background: var(--interjud-blue);
  border-radius: 10px;
}
.myCreditsMain .myCreditsContainer table {
  padding: 10px;
  margin: 0;
  width: 300vw;
  border-collapse: collapse;
  min-width: 100%;
  overflow: auto;
}
.myCreditsMain .myCreditsContainer table th,
.myCreditsMain .myCreditsContainer table td,
.myCreditsMain .myCreditsContainer table tr {
  padding: 10px;
  text-align: left;
}
.myCreditsMain .myCreditsContainer table .th_add_credit,
.myCreditsMain .myCreditsContainer table .td_image {
  width: 75px;
}
.myCreditsMain .myCreditsContainer table .th_add_credit {
  position: -webkit-sticky;
  position: sticky;
  left: -1px;
  background-color: var(--interjud-blue);
  transition: 0.3s;
  cursor: pointer;
}
.myCreditsMain .myCreditsContainer table .th_add_credit:hover {
  opacity: 0.8;
}
.myCreditsMain .myCreditsContainer table .th_add_credit span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: normal;
}
.myCreditsMain .myCreditsContainer table tr {
  border: 1px solid var(--interjud-blue);
  border-collapse: collapse;
}
.myCreditsMain .myCreditsContainer table tr td {
  border: 1px solid var(--interjud-blue);
}
.myCreditsMain .myCreditsContainer table tr td:not(:first-of-type) {
  min-width: 200px;
}
.myCreditsMain .myCreditsContainer table tr .img_container {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myCreditsMain .myCreditsContainer table tr .img_container img {
  -o-object-fit: cover;
     object-fit: cover;
}
.myCreditsMain .myCreditsContainer table tr span.credit_name {
  padding-left: 10px;
  display: inline-block;
}
.myCreditsMain .myCreditsContainer table tr span.credit_rating svg {
  fill: var(--interjud-yellow);
}

.pagination {
  margin-top: 30px;
  display: flex;
  gap: 5px;
}
.pagination.prevNotAllowed span:first-of-type {
  opacity: 0.5;
  pointer-events: none;
}
.pagination.nextNotAllowed span:last-of-type {
  opacity: 0.5;
  cursor: not-allowed;
  transform: unset !important;
}
.pagination > span {
  display: inline-block;
  height: 30px;
  width: 30px;
  display: grid;
  border: 1px solid var(--interjud-blue);
  place-items: center;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.pagination > span.active {
  color: var(--interjud-blue);
  font-weight: bold;
}
.pagination > span:hover {
  transform: translateY(-10%);
}
.pagination > span svg,
.pagination > span polygon {
  color: var(--txt-color);
  fill: var(--txt-color);
  stroke: var(--txt-color);
}/*# sourceMappingURL=globals.css.map */